* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 99.5%;
  height: fit-content;
  margin: 0.255 0.25% 0.25% 0.25%;
}
nav {
  position: fixed;
  width: 100%;
  height: 15vh;
  /*
  display: grid;
  grid-template-columns: 250px 1fr 10fr;
  */
  display: flex;
  justify-content: space-around;
  border: 1px;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.navLogo {
  width: 240px;
  height: 8vh;
  margin-right: 15%;
  margin-left: 1%;
}

.navLinks {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.navLinks li {
  list-style: none;
}
.navLinks a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.navLinks a:hover {
  color: orangered;
}
.active {
  color: orangered;
}

.burger {
  display: none;
}
.burger div {
  height: 3px;
  background-color: white;
  margin-top: 5px;
  transition: all 0.3s ease;
  width: 30px;
}
/*
.line1 {
  width: 30px;
}
.line2 {
  width: 20px;
}
.line3 {
  width: 40px;
}
*/

@media screen and (max-width: 1000px) {
  .navLinks {
    position: absolute;
    right: 0px;
    top: 0vh;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 1000;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 5;
  }
  .navLinks li {
    z-index: 5;
    color: rgb(216, 201, 201);
    opacity: 1;
  }

  .burger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    z-index: 6;
    cursor: pointer;
  }
  .burger div {
    opacity: 10;
  }
  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navAnim {
    from {
      opacity: 0;
      transform: translateX(50);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /*
  .burger {
    width: 30px;
    
  }

  
  .toggle.line1 {
    width: 30px;
    transform: rotate(-135deg) translate(-5px, 6px);
  }
  .toggle.line2 {
    opacity: 0;
  }
  .toggle.line3 {
    width: 30px;
    transform: rotate(135deg) translate(-5px, -6px);
  }
  */
}


.aboutcontent{
  color: black;
  font-size: medium;
  padding: 0.5em;
}