* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma,
    Geneva, Verdana, sans-serif;
}
#landing {
  height: 100vh;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing h1 {
  font-size: 6rem;
  color: white;
}
.aboutcontent {
  color: black;
  font-size: medium;
  padding: 0.5em;
}

#whysponsor {
  background-color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}
.why {
  margin-left: 0px;
  margin-right: 0px;
}


.why h2,h3{
    color: maroon;
    padding-top: 1em;
    font-weight: bolder;
    
}
.why p{
  font-size: 17px;
  
}

.media {
  background-color: white;

  color:black;
  font-size: 17px;
}

.stall{
  
  color:white;
  font-size: 17px;
}


.video{
  background-color: white;
  color:black;
  font-size: 17px;
}


.shirt{
 
  color:white;
  font-size: 17px;

}
.more h4 {
  color: rgb(129, 2, 2);
}
.more p {
  font-size: 17px;
  margin: 0.5em;
}
.more .last {
  font-size: 17px;
  padding-bottom: 1em;
}
.heading{
  background-color: lightseagreen;
  width: 100%;
  padding: 0.5em;
  
  text-align: center;
}

/*gallery*/
#gallery {
  width: 100%;
}

@media only screen and (min-width: 760px) {
  #gallery {
    width: 60%;
  }
}
