* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto";
    
}




/* new navbar */
.navbar {
  transition: all 0.4s;
  height: 8.5vh;
  
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: rgb(223, 223, 223);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: rgb(187, 187, 187);
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #fff;
}


/* Change navbar styling on small viewports */





/*hamburger*/

.navbar button{
  background-color: transparent;
  outline: none;
  border: none;

}



.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}


#landing {
  height: 100vh;
  width: 100%;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#landing h1 {
  font-size: 6rem;
  color: white;
}

#about{
  background-color: #f6f5f5;
}
.aboutcontent {
  color: black;
  font-size: 17px;
  padding: 1em;
  
  font-weight: 500;
  font-family: "Mulish";
}
.abtimg{
  width:100%;
  padding: 3em;
 
}


/*events*/
#events {
  width: 100%;
  
}
.container{
  width: 100%;
  
  
  margin-left:auto;
}
@media only screen and (min-width: 760px) {
  #events {
    width: 60%;
  }
}

#whysponsor {
  background-color: #f6f5f5;
  text-align: center;
  padding: 0;
  margin: 0;
}

.why p{
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 0.5em;
  margin: 1em;
}
.why h3{
  font-weight: bold;
  font-family: "Montserrat";
  margin-top: 0.5em;
}

.media {
  background-color: white; 
  color:black;
  font-family: "Jost";
  font-size:18px;
}
.media h3{
  font-weight: bold;
  font-family: "Montserrat";
}
.stall {
  background-color: #1687a7; 
  color:white;
  font-family: "Jost";
  font-size:18px;
}
.stall h3{
  font-weight: bold;
  font-family: "Montserrat";
}
.video{
  background-color: white; 
  color:black;
  font-family: "Jost";
  font-size:18px;
}
.video h3{
  font-weight: bold;
  font-family: "Montserrat";
}
.shirt {
  background-color: #1687a7; 
  color:white;
  font-family: "Jost";
  
  font-size:18px;
}
.shirt h3{
  font-weight: bold;
  font-family: "Montserrat";
}
.more h3 {
  color: black;
  font-weight: bold;
  font-family: "Montserrat";
}
.more p {
  font-size: 17.5px;
  margin: 0.5em;
  font-weight: 500;
  font-family: "Montserrat";
}
.more .last {
  font-size: 17px;
  margin-bottom: 1em;
  font-family: "Montserrat";
}
.heading{
  background-color:#1687a7;
  width: 100%;
  padding: 0.5em;
  font-size: 23px;
  font-weight: 1000;
  color: white;
  text-align: center;
}

#previous{
  align-items: center;
}


/*contact*/
#contact{
  background-color: #f6f5f5;
}

.our_team{
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.our_team .team_member{
  
  max-width: 300px;
  margin: auto;
  margin: 5px;
  background: #fff;
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.our_team .team_member .member_img{
  background: #e9e5fa;  
  max-width: 220px;
  width: 100%;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.our_team .team_member .member_img img{
  width: 100%;
  height: 100%;
}

.our_team .team_member h3{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 15px 0 0px;
  text-align: center;
}

.our_team .team_member span{
  font-size: 10px;
}

.our_team .team_member p{
  margin-top: 20px;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.our_team .team_member .member_img .social_media{
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.65);
  width: 95%;
  height: 95%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
   transition: all 0.5s ease;
}

.our_team .team_member .member_img .social_media .item{
  margin: 0 10px;
}

.our_team .team_member .member_img .social_media .fab{
  color: #8c7ae6;
  font-size: 20px;
}

/*gallery*/
#gallery {
  width: 100%;
  
}

@media only screen and (min-width: 760px) {
  #gallery {
    width: 60%;
  }
}

/* footer page */

.foot-head{
  color: white;
  margin: 0;
  padding: 0;
}

.foot-link{
  color: #848687;
  border: black;
}

.foot-link a{
  color: #cacccf;
  text-decoration: none;
}



.foot-desc{
  color: #cacccf;
}

#quicklink ul{
  width: fit-content;
  margin: auto;
}
.block { 
  height:500px;
  width:500px;
  background-color:white;
  margin-top:50px;
}

.animBlock {
  opacity: 0;
  filter: alpha(opacity=0);
  position: relative;
  -webkit-transition: all .55s ease-in;
  -moz-transition: all .55s ease-in;
  -ms-transition: all .55s ease-in;
  -o-transition: all .55s ease-in;
  transition: all .55s ease-in;
}
.animBlock[data-position="left"] { left: -20%; }
.animBlock[data-position="right"] { right: -20%; }
.animBlock[data-position="top"] { top: -20%;}
.animBlock[data-position="bottom"] { bottom: -20%;}

.animBlock[data-position="left"].viewed {
  left: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.animBlock[data-position="right"].viewed {
  right: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.animBlock[data-position="top"].viewed {
  top: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}
.animBlock[data-position="bottom"].viewed {
  bottom: 0%;
  opacity: 1;
  filter: alpha(opacity=100);
}